<div class="container">
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to post.title, [post.feed, post], target: :_blank %> - <i> published <%= time_ago_in_words(post.published_at) %> ago.</i>
      </div>
    </div>
  <% end %>
<br>

<%= link_to 'New Feed', new_feed_path %> <br>
<%= link_to 'Reader', reader_path %>
</div>
